body {
    background-color: #CCFFCC;
    }

h1 {
        text-align: center;
        color: #CC9900;
    }
    
h2, h3, p, ul, ol, figcaption {
    color: #CC9900;
}

fieldset {
    background-color: #CC9900;
}

legend {
        background-color: #dfa700;
        color: #CCFFCC;
        padding: 5px 10px;  
}
label {
    color: #CCFFCC;
}
